---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Kevin McDonnell" description="About Kevin McDonnell">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About me"
				tagline="Lover of tech, sharer in the community, Microsoft MVP and father of three."
			>
				<img
					src="/assets/KevinTheExpert.JPG"
					alt="Kevin McDonnell, the expert speaking at Experts Live Europe"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						From developer to project manager, SharePoint farm owner to business analyst, Kevin has done it all and has the hair (or lack of) to prove it. Having started in the world of Financial Services with delivering solutions on Microsoft technologies to help staff collaborate and be more productive, Kevin jumped the fence a few years ago to the consultancy side. He has always loved to share and is a Microsoft MVP in Microsoft 365 Apps and Services, Viva Explorer and co-hosts the weekly modern workplace podcast GreyHatBeardPrincess in between his day job as a Group Manager for Modern Workplace at Avanade.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p> - Microsoft 365 expert with ability to understand clients’ needs and bridge the gaps between requirements and technical implementation.</p>
					<p> - Experience of Microsoft 365 as product owner, developer, architect, user and admin, development with ability to implement out of the box or extend with custom development.</p>
					<p> - Regular contributor to wider Microsoft community as a speaker, sharing knowledge through the GreyHatBeardPrincess podcast, contributing to open source projects and engaging with Microsoft.</p>
					<p> - Managed annual budgets of up to £2 million and teams across multiple global regions on client side, owner of pre-sales for collaboration and employee experience engagements, connecting with senior leaders to win opportunities.</p>
					<p> - Engagement with Microsoft through Partner and MVP relationships to help shape strategy, especially in world of Employee Experience with Microsoft Viva.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Awards</h2>
				<div class="content">
					<p>UK Modern Workplace Evangelist award at 2025 UK Tech Community Awards</p>
					<img
					src="/assets/KevinAwardWinner.jpg"
					alt="Kevin McDonnell, winning Modern Work evangelist 2025 at the UK Tech Community Awards"
				/>
				</div>
			</section>
		</main>

	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
